<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue_test3.js"></script>
	</head>
	<!--t.is与v-for同行的bug-->
	<body>
	  <div id="demo">
      <ul>
        <li data-id="" v-for="t in item" v-show="t.is" v-text="t.val" >
          <p v-text="t.val"></p>
          <ul>
            <li v-for="tt in t.child">
              <p v-show="tt.is" v-text="tt.vall"></p>
            </li>
          </ul>
          <p v-text="val"></p>
        </li>
        <li>test</li>
      </ul>
    </div>
	</body>
	<script>
	  vue_test({
      el: '#demo',
      data: {
        item: [
          {
            is: false,
            val: ' 1 ',
            child: [
              {
                vall: ' 1-1 '
              }, {
                vall: ' 1-2 '
              }, {
                vall: ' 1-3 '
              }
            ]
          }, {
            val: ' 2 ',
            child: [
              {
                is: false,
                vall: ' 2-1 '
              }, {
                vall: ' 2-2 '
              }
            ]
          }
        ],
        val: '【true】'
      },
      computed: {
//      reversedMessage: function () {
//        return this.message.split('').reverse().join('')
//      }
      },
      watch: {
//      reversedMessage: function () {
//        return this.message.split('').reverse().join('')
//      }
      },
      mounted: () => {

      },
      methods: {

      }
    })
	</script>
</html>
