<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue_test2.js"></script>
	</head>
	<body>
	  <div id="demo">
	    <ul v-for="(ttt, iii) in item" v-demo="a">
	      <li>test</li>
	      <li v-test="ttt.message" data-id="ttt.message"></li>
	      <p v-for="tt in ttt.child">
          <span v-test="tt.val"></span>
          <i v-demo="b"></i>
          <span v-for="(t, i) in tt.child">
            <i v-test="t.val"></i>
          </span>
        </p>
	      <li>test</li>
	      <li v-test="ttt.message"></li>
	    </ul>
	    <p v-test="item[0].child[0].val"></p>
	  </div>
	</body>
	<script>
	  vue_test({
      el: '#demo',
      data: {
        item: [
          {
            message: '1',
            child: [
              {
                val: '1-1',
                child: [
                  {
                    val: '1-1-1'
                  }, {
                    val: '1-1-2'
                  }
                ]
              }
            ]
          }, {
            message: '2',
            child: [
              {
                val: '2-1',
                child: [
                  {
                    val: '2-1-1'
                  }, {
                    val: '2-1-2'
                  }
                ]
              }
            ]
          }
        ],
        val: 123,
        other: {
          val: 777
        }
      },
      computed: {
//      reversedMessage: function () {
//        return this.message.split('').reverse().join('')
//      }
      },
      watch: {
//      reversedMessage: function () {
//        return this.message.split('').reverse().join('')
//      }
      },
      mounted: () => {

      },
      methods: {

      }
    })
	</script>
</html>
